<h2>Patchus Maximus</h2>

<section>
    <div>
        <h3>Game Settings</h3>
        <span class="input-label" title="Armor scaling factor.">Armor Scaling</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fArmorScalingFactor" />
        <span class="input-label" title="Max armor rating.">Max Armor Rating</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fMaxArmorRating" />
        <span class="input-label" title="Armor rating max.">Armor Rating Max</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fArmorRatingMax" />
        <span class="input-label" title="Armor Rating max.">Armor Rating PC Max</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fArmorRatingPCMax" />
    </div>
    <div>
        <h3>Armors Material Overrides</h3>
        <p>
            The armors below don't have a material. If you want the armor's rating and smithing to be influenced by a material,
            select a material in the dropdown.
        </p>
        <table>
            <tr>
                <td><strong>Armor</strong></td>
                <td><strong>Material</strong></td>
            </tr>
            <tr ng-repeat="armor in settings.patchusMaximus.armor.materialOverrides">
                <td><small>{{ armor.name }}</small></td>
                <td>
                    <select ng-options="material for material in materials" ng-model="armor.material">
                    </select>
                </td>
            </tr>
        </table>
        <button class="action-btn" ng-click="showSettings()">Show Settings</button>
    </div>
</section>