<h2>Patchus Maximus</h2>

<section>
    <div>
        <h3>Game Settings</h3>
        <span class="input-label" title="Armor scaling factor.">Armor Scaling</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fArmorScalingFactor" />
        <span class="input-label" title="Max armor rating.">Max Armor Rating</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fMaxArmorRating" />
        <span class="input-label" title="Armor rating max.">Armor Rating Max</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fArmorRatingMax" />
        <span class="input-label" title="Armor Rating max.">Armor Rating PC Max</span>
        <input type="text" ng-model="settings.patchusMaximus.gameSettings.fArmorRatingPCMax" />
    </div>
</section>