{
  "extends": "airbnb-base",
  "rules": {
    "func-names": 0,
    "space-before-function-paren": "off",
    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-underscore-dangle": [
      "warn", 
      { 
        "allowAfterThis": true 
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 150
      }
    ],
    "no-param-reassign": "off" // TODO make this specific to locals
  },
  "globals": {
    "xelib": true
  }
}